html
{
    --main-font-color: #F2F2F2;
    --second-font-color:  #EDE1E2;
    --button-font-color: #CE7B87;

    --left-block-color: #7F8FC4;
    --right-block-color: #D9818E;

    font-size: 14px;
}

body
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: var(--main-font-color);
    background-color: var(--left-block-color);
}

/* Blocks. Change this shit*/

div.page
{
    width: 100%;
}

div.left_block
{
    background-color: var(--left-block-color);
}

div.right_block
{
    background-color: var(--right-block-color);
}

div.logo, nav.nav_bar
{
    background-color: none;
    display: inline;
}

/* Texts */

span.l_name
{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    width: 104px;
    
}

nav a
{
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 14px;
    line-height: 21px;    
}



h1.head1
{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;

    width: 574px;
}

p.paragraph1
{
    color: var(--second-font-color);
    font-size: 18px;
    line-height: 32px;
    width: 485px;    
}

/* Input and buttons*/

input::placeholder
{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: black;
}

form.search #text_input
{
    width: 508px;
    height: 64px;
    font-size: 18px;
    padding-left: 28px;

    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(19, 22, 24, 0.08);
    border-radius: 12px;
    box-sizing: border-box;
}

form.search [type = "submit"]
{
    background: url(search.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

a.join_free_button
{
    color: var(--button-font-color);
    background-color: var(--main-font-color);
    font-weight: 500;
    font-size: 14px;

    width: 106px;
   
    border-radius: 100px;
}