html
{
    --main-font-color: #F2F2F2;
    --second-font-color:  #EDE1E2;
    --button-font-color: #CE7B87;

    --left-block-color: #7F8FC4;
    --right-block-color: #CE7B87;

    font-size: 14px;
}

body
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: var(--main-font-color);
    background: linear-gradient(50deg, #647098 0%, #D9818E 100%);
}

/* Blocks*/

.page
{
    width: 1440px;
    margin: 0px 240px 0px 240px;
}

.right_block, .left_block
{
    height: 1024px;
    position: relative;
    padding-top: 20px;
    z-index: 9;
}

.left_block
{
    background-color: var(--left-block-color);
    width: 52.778%;
    float: left;
}

.right_block
{
    background-color: var(--right-block-color);
    float: right;
    width: 47.223%;
}

.header1
{
    position: absolute;
    z-index: 10;
    margin: 20px 40px 0px 40px;
}

.logo, .space-btw, .nav_bar, ul li
{
    display: inline-block;
}

.nav_bar
{
    margin-left: 67px;
}

.space-btw
{
    width: 638px;
}

ul
{
    margin-right: -28px;
}

ul li
{
    padding-right: 28px;
}

.block-form
{
    padding-top: 307px;
    padding-left: 100px;
}

.lb-text
{
    width: 574px;
    margin-right: 86px;
}

.head1
{
    padding-bottom: 32px;
}

.paragraph1
{
    padding-bottom: 64px;
}

/* Texts */

.l_name
{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    width: 104px;
}

nav a
{
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 14px;
    line-height: 21px;    
}

.head1
{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;

    width: 574px;
}

.paragraph1
{
    color: var(--second-font-color);
    font-size: 18px;
    line-height: 32px;
    width: 485px;    
}

/* Input and buttons*/

.search
{
    position: relative;
    width: 508px;
    z-index: 1;
}

input::placeholder
{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: black;
}

.search #text_input
{
    width: 508px;
    height: 64px;
    font-size: 18px;
    padding-left: 28px;

    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(19, 22, 24, 0.08);
    border-radius: 12px;
    box-sizing: border-box;
}

.search_button
{
    background: url('../img/figures/search.svg');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    position: absolute;
    top: 20px;
    right: 28px;
    
    cursor: pointer;
}

.join_free_button
{
    color: var(--button-font-color);
    background-color: var(--main-font-color);
    font-weight: 500;
    font-size: 14px;

    border: 1px solid var(--main-font-color);
    border-radius: 100px;

    padding: 12px 21px 12px 21px;
}

/* Figures, photos and patterns */

.page img
{
    position: relative;
}

.figure_16
{
    top: -56px;
    right: 64px;
}

.figure_17
{
    top: -100px;
    left: 300px;
}

.figure_14
{
    top: 75px;
    right: 40px;
}

.figure_1
{
    bottom: 100px;
    left: 265px;
}

.figure_2
{
    top: 40px;
}

.figure_10
{
    bottom: 61px;
    left: 505px;
    z-index: 1;
}

.photo_2
{
    bottom: 820px;
    left: 80px;
    z-index: 2;
}

.pattern_2
{
    bottom: 850px;
    left: 195px;
}

.pattern_1
{
    bottom: 850px;
    right: 50px;
}

.figure_9
{
    bottom: 1020px;
    left: 595px;
}

.figure_7
{
    bottom: 880px;
    left: 155px;
}

.figure_8
{
    bottom: 855px;
    left: 150px;
}

.figure_6
{
    bottom: 1325px;
    left: 101px;
}

.figure_15
{
    bottom: 1015px;
    left: -65px;
}

.photo_1
{
    bottom: 1015px;
    left: -367px;
}

.figure_5
{
    bottom: 1190px;
    left: 101px;
}

.figure_4
{
    bottom: 1400px;
    left: 20px;
}

.figure_3
{
    bottom: 1470px;
    left: 532px;
}

.photo_3
{
    bottom: 1467px;
    left: 256px;
}

.figure_11
{
    bottom: 1480px;
    left: -392px;
}